.details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  border: black solid 1px;
  border-radius: 5px;
  width: 800px;
  margin: 5rem;
  padding: 2rem;
}

.detailsInfo {
  font-weight: bold;
  line-height: 30px;
}
