img {
  height: 300px;
  width: 250px;
}

.phonesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cardsGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 5rem;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  border: black solid 1px;
  border-radius: 5px;
}

button {
  padding: 1rem;
  border: black solid 1px;
  background-color: rgb(123 189 254);
  color: black;
  font-family: "Motserrat", sans-serif;
  letter-spacing: 2px;
  border-radius: 11px;
}

button:hover {
  background-color: white;
  color: black;
}
